#### Парсер для citystar

In [9]:
# Реквесты и парсинг html
import requests
from bs4 import BeautifulSoup

# Замедление парсера
import time
import random

# Поиск правильной кодировки
import chardet

# Pandas
import pandas as pd

# tqdm
from tqdm import notebook

# SQL
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

#### Конфиг

In [10]:
HEADERS = {'User-Agent': 'Mozilla/6.0 (iPad; CPU OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148'} 
columns = ['Дата подачи', 'Дата обновления', 'Примечание', 'Тип квартиры', 'Район', 'Адрес', 'Дом', 'Этаж', 'Планировка', 'о', 'ж', 'к', 'цена (т.р.)', 'Телефон', 'Имя', 'E-mail', 'Просмотров', 'url']
engine = create_engine('postgresql://postgres:12345678@localhost:5432/test_database')

#### Пробный запрос

In [11]:
url = 'http://citystar.ru/scard.asp?d=43&id=14220001' # нерабочий
url = 'http://citystar.ru/scard.asp?d=43&id=14222004' # рабочий

In [12]:
response = requests.get(url, headers=HEADERS)
if response.ok: (print('\x1b[6;30;42m' + 'Success!' + '\x1b[0m'))
response.raise_for_status()
html = response.content
soup = BeautifulSoup(html, 'lxml')

Success!

In [13]:
#soup

#### Пробный запрос побольше

url = 'http://citystar.ru/scard.asp?d=43&id=14222004' # рабочий

1# http://citystar.ru/scard.asp?d=43&id=15762753

2# http://citystar.ru/scard.asp?d=43&id=15762752

In [14]:
df = pd.DataFrame(columns=columns)

In [15]:
start = 14222004
end = 15762753

In [16]:
# Функция для парсинга
def parse_range(start, end, url):
    result = []
    response = requests.get(url, headers=HEADERS)
    if response.ok: 
        html = response.content
        soup = BeautifulSoup(html, 'lxml')
        elements_with_class = soup.find(class_="data-table").find_all(class_="m-frc")
        for element in elements_with_class:
            result.append(element.text)
        #print(result)
        result.append(url)
        return result

### Небольшой сбор данных
start = 14222004
end = 15762753
counter = 0


for i in notebook.tqdm(range(start+2500, start-7500, -1)):
    url = f'http://citystar.ru/scard.asp?d=43&id={i}'
    try:
        new = [parse_range(start, end, url)]
        new_row_df = pd.DataFrame(new, columns=columns)
        new_row_df.to_sql('realty_town', con=engine, if_exists='append', index=False) 
        df = pd.concat([df, new_row_df], ignore_index=True)
    except:
        pass

In [9]:
df.to_csv('data_realty4.csv', encoding="utf-8")

### Сбор побольше

In [10]:
#start = 14222004
#end = 15762753

- собрал с конца 96500
- вчера собрал с новой точки 45800

In [11]:
# Cбор данных
start = 14222004
end = 15762753
counter = 0


for i in notebook.tqdm(range(end-96500, end-150000, -1)):
    url = f'http://citystar.ru/scard.asp?d=43&id={i}'
    try:
        new_row_df = pd.DataFrame([parse_range(start, end, url)], columns=columns)
        new_row_df.to_sql('realty_town', con=engine, if_exists='append', index=False) 
        df = pd.concat([df, new_row_df], ignore_index=True)
    except:
        pass

  0%|          | 0/53500 [00:00<?, ?it/s]

In [ ]:
df.to_csv('data_realty3.csv', encoding="utf-8")

In [17]:
# Cбор данных
start = 14222004
end = 15762753
counter = 0


for i in notebook.tqdm(range(end, end+1000, 1)):
    url = f'http://citystar.ru/scard.asp?d=43&id={i}'
    try:
        new_row_df = pd.DataFrame([parse_range(start, end, url)], columns=columns)
        new_row_df.to_sql('realty_town', con=engine, if_exists='append', index=False) 
        df = pd.concat([df, new_row_df], ignore_index=True)
    except:
        pass

  0%|          | 0/1000 [00:00<?, ?it/s]